eureka:
  client:
    service-url:
      defaultZone: http://localhost:8767/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info

spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
