eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info

spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
